---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Contact">
	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Want to get in contact ?</div>
	</div>

	<div class="py-2">
		<text class="text-lg">
			Don't hesitate to contact me, I'll reply as soon as possible !
		</text>
	</div>

	<ul class="list-none">
		<li>
			<b>Email:</b><a
				href="mailto:fabian.hbr@protonmail.ch"
				target="_blank"
			>
				fabian.hbr@protonmail.ch</a
			>
		</li>
		<li>
			<b>Mastodon:</b>
			<a href="https://mastodon.gamedev.place/@stowy" target="_blank"
				>@stowy@mastodon.gamedev.place
			</a>
		</li>
		<li>
			<b>Twitter:</b>
			<a href="https://twitter.com/St0wy" target="_blank">@St0wy</a>
		</li>
		<li><b>Discord:</b> Stowy#6926</li>
	</ul>
</BaseLayout>
