---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Education</div>
	</div>

	<div class="time-line-container grid gap-4 mb-10">
		<TimeLineElement
			title="Games Programming - Bachelor"
			subtitle="2021 to 2024 at SAE Institute, Geneva, Switzerland"
		>
			<ul class="list-disc mx-6">
				<li>Game creation (Unity, Unreal, C++)</li>
				<li>Physics Programming</li>
				<li>Networking</li>
				<li>Optimisation</li>
				<li>Graphics Programming</li>
			</ul>
		</TimeLineElement>
		<TimeLineElement
			title="Informatics - ES Technician Diploma"
			subtitle="2019 to 2021 at CFPT, Geneva, Switzerland"
		>
			<ul class="list-disc mx-6">
				<li>Niveau : Honours and congratulation of the jury</li>
				<li>Strengthened skills from CFC</li>
				<li>C</li>
				<li>Rust</li>
				<li>React Native</li>
				<li>VueJS</li>
				<li>Project Management and Marketing</li>
			</ul>
		</TimeLineElement>
		<TimeLineElement
			title="Informatics - CFC (Apprenticeship)"
			subtitle="2016 to 2020 at CFPT, Geneva, Switzerland"
		>
			<ul class="list-disc mx-6">
				<li>Basics of Programming</li>
				<li>C#</li>
				<li>HTML / CSS / JavaScript / PHP</li>
				<li>Python</li>
				<li>Git</li>
				<li>SQL</li>
				<li>SCRUM Methodology</li>
			</ul>
		</TimeLineElement>
	</div>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Experience</div>
	</div>

	<div class="time-line-container grid gap-4 mb-10">
		<TimeLineElement
			title="Help Desk Technician"
			subtitle="From Jan 2024 to Today at Pictet, Geneva, Switzerland"
		/>
		<TimeLineElement
			title="Android Developper"
			subtitle="From Feb to Oct 2022 at JE EPFL, Geneva, Switzerland"
		>
			<ul class="list-disc mx-6">
				<li>React Native Android Application</li>
				<li>Design on Figma</li>
				<li>Translated R code to TypeScript</li>
			</ul>
		</TimeLineElement>
		<TimeLineElement
			title="Video Game Creation and Robotics Teaching"
			subtitle="August 2021 at Futurekids, Geneva, Switzerland"
		>
			<ul class="list-disc mx-6">
				<li>Two one week lessons</li>
				<li>Taught the basics of programming to children</li>
				<li>Unreal Engine 5 and Lego EV3 MINDSTORMS</li>
			</ul>
		</TimeLineElement>
		<TimeLineElement
			title="Web Developpement - Internship"
			subtitle="May 2020 at Thinko, Geneva, Switzerland"
		>
			<ul class="list-disc mx-6">
				<li>Three week internship</li>
				<li>Web dev with Laravel</li>
				<li>Evaluation and integration of planning solutions</li>
			</ul>
		</TimeLineElement>
	</div>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Skills</div>
	</div>

	<ul class="list-disc md:columns-5 columns-2 mx-6">
		<li>French (Native)</li>
		<li>English</li>
		<li>Japanese (Elementary)</li>
		<li>C#</li>
		<li>Unity</li>
		<li>C++</li>
		<li>Unreal Engine</li>
		<li>Rust</li>
		<li>JavaScript</li>
		<li>React Native</li>
		<li>Python</li>
		<li>x86_64 ASM</li>
		<li>SIMD</li>
		<li>PHP</li>
		<li>SQL</li>
		<li>CSS</li>
		<li>HTML</li>
		<li>Astro</li>
		<li>Git</li>
		<li>Perforce</li>
		<li>Trello</li>
		<li>Scrum</li>
		<li>Agile</li>
		<li>Office Suite</li>
	</ul>
</BaseLayout>
