---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
	<!-- <div class="mb-5">
		<div class="text-3xl w-full font-bold">Profile</div>
	</div> -->

	<!-- <div class="mb-10 text-justify">
		Engineer in Informatics Science with 6 years + of experience in software
		development. Dominion of various programming languages, frameworks, CMS
		and graphics engines. Experience in WEB design and development. Work
		with Data Base handled systems, as well as design, normalization and
		migration. Knowledge of work with graphic design tools for image
		manipulation , User Interfaces design, Web sites, logos and other ones.
	</div> -->

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Education</div>
	</div>

	<div class="time-line-container grid gap-4 mb-10">
		<TimeLineElement
			title="Games Programming - Bachelor"
			subtitle="2021 to 2024 at SAE Institute, Geneva, Switzerland"
			desc="I am currently studying at SAE Institute in Games Programming. This formation is focused in the creation of video games by using existing engines and by creating our own. The main languages we use are C++ and C# inside of Unity."
		/>
		<TimeLineElement
			title="Informatics - ES Technician Diploma"
			subtitle="2019 to 2021 at CFPT, Geneva, Switzerland"
			desc="Niveau : Honours and congratulation of the jury. As I did a 3 + 2 formation, I started my technician studies before obtaining my CFC. This formation allowed me to deepen the knowledge that I gained during my apprenticeship. Most notably, I got better at C#, and got management and marketing lessons. I was also able to discover new technologies like C, Rust, React Native and VueJS."
		/>
		<TimeLineElement
			title="Informatics - CFC (Apprenticeship)"
			subtitle="2016 to 2020 at CFPT, Geneva, Switzerland"
			desc="I did my programming apprenticeship in a full-time formation at CFPT. I mainly used C# to learn OOP, but I also used other technologies like Python, HTML, CSS, Javascript, PHP, Laravel, Unity, SQL and Git. I also learned to use the SCRUM methodology in a programming project."
		/>
	</div>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Experience</div>
	</div>

	<div class="time-line-container mb-10">
		<TimeLineElement
			title="Android Developper"
			subtitle="From Feb to Oct 2022 at JE EPFL, Geneva, Switzerland"
			desc="In this project, I had to create a golf put prediction Android application alone using React Native. I designed the interface using Figma, that I then implemented. I also had to translate the R code, that was made a proof of concept, into Typescript."
		/>
		<TimeLineElement
			title="Video Game Creation and Robotics Teaching"
			subtitle="August 2021 at Futurekids, Geneva, Switzerland"
			desc="For two lessons that each lasted for one week, I thaught the basics of programming and robotics to children from 9 to 14 years old. The lessons where about Unreal Engine and with Lego EV3 MINDSTORMS."
		/>
		<TimeLineElement
			title="Web Developpement - Internship"
			subtitle="May 2020 at Thinko, Geneva, Switzerland"
			desc="In a 3 week internship, I evaluated and integrated a planification solution in the domain of transport and logistic with Laravel."
		/>
	</div>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Skills</div>
	</div>

	<ul class="list-disc md:columns-5 columns-2 mx-6">
		<li>French (Native)</li>
		<li>English</li>
		<li>Japanese (Elementary)</li>
		<li>C#</li>
		<li>Unity</li>
		<li>C++</li>
		<li>Unreal Engine</li>
		<li>Rust</li>
		<li>JavaScript</li>
		<li>Python</li>
		<li>PHP</li>
		<li>Postgres SQL</li>
		<li>MySQL</li>
		<li>CSS</li>
		<li>HTML</li>
		<li>Astro</li>
		<li>Git</li>
		<li>Perforce</li>
		<li>Trello</li>
		<li>Scrum</li>
		<li>Agile</li>
		<li>Office Suite</li>
	</ul>
</BaseLayout>
