---
const props = Astro.props;

import { Image } from "astro:assets";

const images = import.meta.glob(
	"/src/assets/**/*.{jpeg,jpg,png,gif,avif,webp}"
);
---

<div data-lightbox="true">
	<Image src={images[props.src]()} alt={props.alt} class="w-2/3" />
	<!-- <img {...props} class="w-2/3" /> -->
</div>
