---
import { Picture, Image } from "astro:assets";

export interface Props {
	screenshots?: string[];
	containerClasses?: string;
	imageClasses?: string;
}

const {
	screenshots = [],
	containerClasses = "flex flex-wrap justify-around",
	imageClasses = "w-72",
} = Astro.props as Props;

const images = import.meta.glob(
	"/src/assets/**/*.{jpeg,jpg,png,gif,avif,webp}"
);
---

<div class={containerClasses}>
	{
		screenshots.map((screenshot) => {
			screenshot && (
				<div data-lightbox="true">
					<Image
						src={images[screenshot]()}
						widths={[240, 540, 720]}
						sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px`}
						alt="Screenshot of the project"
						class={imageClasses}
					/>
				</div>
			);
		})
	}
</div>
